<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.content.mapper.MusicUserMapper">
    
    <resultMap type="com.ruoyi.content.domain.MusicUser" id="MusicUserResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="nickname"    column="nickname"    />
        <result property="remarkName"    column="remark_name"    />
        <result property="avatar"    column="avatar"    />
        <result property="py"    column="py"    />
        <result property="gender"    column="gender"    />
        <result property="eventCount"    column="event_count"    />
        <result property="followCount"    column="follow_count"    />
        <result property="fanCount"    column="fan_count"    />
        <result property="signature"    column="signature"    />
        <result property="authStatus"    column="auth_status"    />
        <result property="userType"    column="user_type"    />
        <result property="hasUsed"    column="has_used"    />
    </resultMap>
	
	<sql id="selectMusicUserVo">
        select id, user_id, nickname, remark_name, avatar, py, gender, event_count, follow_count, fan_count, signature, auth_status, user_type from music_user
    </sql>

    <update id="updateMusicUserUsed">
        update music_user set has_used = 1 where user_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="selectMusicUserList" parameterType="com.ruoyi.content.domain.MusicUser" resultMap="MusicUserResult">
        <include refid="selectMusicUserVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="userId != null  and userId != '' "> and user_id = #{userId}</if>
             <if test="nickname != null  and nickname != '' "> and nickname = #{nickname}</if>
             <if test="remarkName != null  and remarkName != '' "> and remark_name = #{remarkName}</if>
             <if test="avatar != null  and avatar != '' "> and avatar = #{avatar}</if>
             <if test="py != null  and py != '' "> and py = #{py}</if>
             <if test="gender != null "> and gender = #{gender}</if>
             <if test="eventCount != null "> and event_count = #{eventCount}</if>
             <if test="followCount != null "> and follow_count = #{followCount}</if>
             <if test="fanCount != null "> and fan_count = #{fanCount}</if>
             <if test="signature != null  and signature != '' "> and signature = #{signature}</if>
             <if test="authStatus != null "> and auth_status = #{authStatus}</if>
             <if test="userType != null "> and user_type = #{userType}</if>
         </where>
    </select>
    
    <select id="selectMusicUserById" parameterType="Long" resultMap="MusicUserResult">
        <include refid="selectMusicUserVo"/>
        where id = #{id}
    </select>

    <select id="selectSeedMusicUserId" resultType="java.lang.String">
        select user_id from music_user where id > #{startId} and has_used = 0 limit #{stepNum}
    </select>

    <insert id="insertMusicUser" parameterType="com.ruoyi.content.domain.MusicUser">
        insert into music_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  ">id,</if>
            <if test="userId != null  and userId != ''  ">user_id,</if>
            <if test="nickname != null  and nickname != ''  ">nickname,</if>
            <if test="remarkName != null  and remarkName != ''  ">remark_name,</if>
            <if test="avatar != null  and avatar != ''  ">avatar,</if>
            <if test="py != null  and py != ''  ">py,</if>
            <if test="gender != null  ">gender,</if>
            <if test="eventCount != null  ">event_count,</if>
            <if test="followCount != null  ">follow_count,</if>
            <if test="fanCount != null  ">fan_count,</if>
            <if test="signature != null  and signature != ''  ">signature,</if>
            <if test="authStatus != null  ">auth_status,</if>
            <if test="userType != null  ">user_type,</if>
            <if test="hasUsed != null  ">has_used</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  ">#{id},</if>
            <if test="userId != null  and userId != ''  ">#{userId},</if>
            <if test="nickname != null  and nickname != ''  ">#{nickname},</if>
            <if test="remarkName != null  and remarkName != ''  ">#{remarkName},</if>
            <if test="avatar != null  and avatar != ''  ">#{avatar},</if>
            <if test="py != null  and py != ''  ">#{py},</if>
            <if test="gender != null  ">#{gender},</if>
            <if test="eventCount != null  ">#{eventCount},</if>
            <if test="followCount != null  ">#{followCount},</if>
            <if test="fanCount != null  ">#{fanCount},</if>
            <if test="signature != null  and signature != ''  ">#{signature},</if>
            <if test="authStatus != null  ">#{authStatus},</if>
            <if test="userType != null  ">#{userType},</if>
            <if test="hasUsed != null  ">#{hasUsed}</if>
        </trim>
    </insert>

	<delete id="deleteMusicUserById" parameterType="Long">
        delete from music_user where id = #{id}
    </delete>
	
    <delete id="deleteMusicUserByIds" parameterType="String">
        delete from music_user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>